.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1A1AFF;
}


.heading{
    font-size: 50px;
    color:rgb(255, 255, 255);
    margin-bottom: 50px;
}

.firstPara{
    font-size: 20px;
    color: rgb(0, 26, 255);

}

.secondPara{
    font-size: 20px;
    color: rgb(5, 150, 0);
}

.thirdPara{
    font-size: 20px;
    color: rgb(255, 34, 226);
}

body{
    background-color: rgb(255, 234, 42);
}

.list{
    color:white;
    font-size: 30px;
}

.list:hover{
    font-size: 50px;
    transition: 0.5s;
}

a:visited{
    text-decoration:none;
    color:#ffffff;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 50px;
}

.welcome{
    margin-top: 50px;
}
